<!DOCTYPE html>
<html>
<head>
  <title>How does your text feel? - Online Sentiment Analyzer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
      {% block content %}
      {% endblock content %}
      {% include "footer.html" %}
  </div><!-- end container -->


<script src='{{ url_for("static", filename="libs/jquery/jquery-2.0.3.min.js") }} '></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>