{% extends "base.html" %}
{% block content %}
<div class="row">
        <h1 class="margin-base-vertical">How does your text <strong>feel?</strong></h1>
        <form id="main-text" class="margin-base-vertical">
            <p>
              <textarea id="text" name="text" class="form-control" rows="15" placeholder="Enter or paste some text"></textarea>
            </p>
            </span>
        </form>
</div>

<div class="row">
    <div class="panel">

      <div class="sentiment" id="sentimentPanel">
        <span><h3>Sentiment:</h3>
            <span id="sentimentValue"></span>
            <span id="breakdown" style="display: none">
              <button type="button" class="btn btn-default btn-sm" id="breakdownBtn" href="#">Sentences</button>
            </span>
        </span>
        <div id="sentencesSentiment" style="display: none">
          <table class="table table-striped">
              <thead>
                <tr>
                  <td>Sentence</td>
                  <td>Sentiment</td>
                </tr>
              </thead>
              <tbody></tbody>
          </table>
        </div>
      </div><!-- end sentiment -->

      <div class="noun-phrases" id="nounPhrasesPanel">
        <span><h3>Topics:</h3>
            <ul id="nounPhrasesValue"></ul>
        </span>
      </div>
    </div>
</div><!-- end row -->
{% endblock %}
